# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# IDE
.vscode/
.idea/
*.iml

# iOS ephemeral
ios/Flutter/ephemeral/

# Firebase local config (keep out of VCS)
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
